body{
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;
}
h1{
  font-size: 50px;
}
.orange-color{
  color: orange;
}
.flexible-container{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
  padding: 2%;
}
.half-width img{
  width: 80%;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 166, 0, 0.815), tomato);
  padding: 10px 40px;
  color: aliceblue;
  font-weight: 700;
  border-radius: 5px;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 100px;
}
.experience-area{
  color: orange;
}
.experience-item{
  width: 40%;
  margin-left: 5%;
  padding: 10px;
  box-shadow: 5px 7px 40px gray;
}
.font-size{
  font-size: large;
}
.experience{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#item{
  border-left: 7px solid orangered;
}
#item1{
  border-left: 7px solid blue;
}
.under{
  text-align: center;
}